{% extends 'base.html.twig' %}

{% block title %}Edit Contacto
{% endblock %}

{% block contain %}
	<h1 class="d-flex justify-content-center mt-1">Editar Contacto</h1>
	<div class="container pb-2 card-body">

		{{ include('contacto/_form.html.twig' , {'button_label': 'Actualizar'}) }}

		<div class="ml-2"></div>
	</div>
{% endblock %}
