{% extends 'base.html.twig' %}

{% block title %}Nuevo Contacto
{% endblock %}

{% block contain %}

	<h1 class="d-flex justify-content-center mt-1">Nuevo Contacto</h1>
	<div class="container mb-2">
		<div class="newform">
			{{ include('contacto/_form.html.twig') }}

		</div>
	</div>
{% endblock %}
